<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add Account</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddAccount()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content overflow-scroll="true">
    <form ng-submit="doAddAccount(accountData)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Account Number</span>
        </label>
        <label class="item item-input">
          <span class="formtextinput"><input type="text" ng-model="accountData.number" name="accountNumber" id="accountNumber" autoFocus></span>
        </label>
        <label class="item item-input">
          <span class="input-label">E-Service No</span>
        </label>
        <label class="item item-input">
          <span class="formtextinput"><input type="text" ng-model="accountData.eService" name="eService" id="eService"></span>
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">Add</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
