<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Remove Meter</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeMeterElect()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content overflow-scroll="true">
    <form ng-submit="doRemoveEMeter(emeter)">
      <div class="list">
        <ion-checkbox ng-repeat="meter in meters.emeters"
                      ng-model="pushNotification.checked"
                      ng-change="pushNotificationChange({{meter.id}})">
          {{ meter.description }}
        </ion-checkbox>

      </div>
    </form>
    <div class="bar bar-footer bar-assertive">
      <div class="title">Click on the meter to be removed - cannot undo!</div>
    </div>
  </ion-content>
</ion-modal-view>
