<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add a meter</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeMeterElect()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content overflow-scroll="true">
    <form ng-submit="doAddEMeter(eMeterData)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Address or Stand Nr</span>
          <input type="text" ng-model="eMeterData.address" name="address" id="address">
        </label>
        <label class="item item-input">
          <span class="input-label">Description</span>
          <input type="text" ng-model="eMeterData.description" name="description" id="description">
        </label>
        <label class="item">
          Type of meter
          <ion-radio ng-model="eMeterData.meter_type" ng-value="'Water'">Water</ion-radio>
          <ion-radio ng-model="eMeterData.meter_type" ng-value="'Electricity'">Electricity</ion-radio>
        </label>
        <label class="item item-input">
          <span class="input-label">Comment</span>
          <input type="text" ng-model="eMeterData.comment" name="comment" id="comment">
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">Add</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
